/* FORM COMPONENTS */

.form-input {
  margin: 0.5rem 0;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  display: flex;
  font-size: 16px;
  width: 100%;
  border: 1px solid var(--accent-color);
  caret-color: var(--accent-color);
  transition: var(--transition-normal);

  &:focus {
    background-color: var(--color-secondary-30);
    color: var(--accent-color);
    caret-color: var(--accent-color);
    border: 1px solid var(--color-secondary-30);
  }
}

.contact-form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 1rem;
}

.contact-form-input-group {
  width: 100%;
  margin-bottom: 0.5rem;
}

.contact-form-single-element-row {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.contact-form-two-element-row {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

#btnToSendMessage {
  display: block;
  width: 25%;
  margin-top: 1rem;
}

/* iPad Mini and similar devices */
@media only screen and (min-width: 768px) and (max-width: 820px) and (max-height: 1180px) {
  .contact-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    gap: 1rem;
  }

  .contact-form-input-group {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .contact-form-single-element-row {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  
  .contact-form-two-element-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
  }

  #btnToSendMessage {
    width: 100%;
    margin-top: 1rem;
  }
} 